table {
    border-collapse: collapse;
}

table {
  width: 30%;
  border-collapse: collapse;
}

td {
  width: 7%;
  border: 2px solid #222;
}

td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

td:nth-child(1), 
td:nth-child(4),
td:nth-child(7) {
  border-left: 6px solid #222;
}

td:nth-child(9){
    border-right: 6px solid #222;
}

tr:nth-child(1),
tr:nth-child(4),
tr:nth-child(7) {
    border-top: 6px solid #222;
}

tr:nth-child(9){
    border-bottom: 6px solid #222;
}